<?xml version="1.0" encoding="UTF-8"?>
<gen xmlns="http://generator/gen/schemas">

  <stereotypes>
    <stereotype nom="bean" />
    <stereotype nom="workflow" />
  </stereotypes>

  <genererGroupe>
    <genererParStereotypes>
      <genererParStereotype>
        <stereotypeRefPourGenererParStereotypes>
          <stereotypeRefPourGenererParStereotype stereotypeNom="workflow" />
          <templateGroupeRefPourGenererParStereotypes>
            <templateGroupeRefPourGenererParStereotype templateGroupeNom="beanGroupe" />
          </templateGroupeRefPourGenererParStereotypes>
        </stereotypeRefPourGenererParStereotypes>
      </genererParStereotype>
    </genererParStereotypes>
  </genererGroupe>

  <templateGroupes>
    <templateGroupe nom="beanGroupe">
      <templateRef nom="bean_template" />
      <templateRef nom="attributEnum" />
    </templateGroupe>
  </templateGroupes>

  <templates inDir="config/templates" outDir="" packageJavaBase="com.bnpparibas.phenics">
    <template nom="bean_template" file="bean_template.vlt" packageJava="PPP.bean.impl" outDir="generated" outFile="XXX.java" nomElementGenere="XXX" />
    <template nom="attributEnum" file="attributEnum.vlt" packageJava="PPP.common.workflow.util" outDir="generated" outFile="AttributXXXEnum.java" nomElementGenere="AttributXXXEnum" />
  </templates>

</gen>

