<?xml version="1.0" encoding="UTF-8"?>
<gen xmlns="http://generator/gen/schemas">

  <stereotypes>
    <stereotype nom="bean" />
  </stereotypes>

  <generate>
     <byStereotype stereotype="bean">
        <templateGroupe templateGroupe="beanGroupe" />
     </byStereotype>
     <byTemplateGroupe templateGroupe="uniqueGroupe">
       <stereotype stereotype="bean" />
     </byTemplateGroupe>
<!--      <byStereotype stereotype="bean"> -->
<!--         <templateGroupe templateGroupe="jpaGroupe" /> -->
<!--      </byStereotype> -->
  </generate>

  <templateGroupes>
    <templateGroupe nom="beanGroupe">
      <template nom="bean_template" />
    </templateGroupe>
    <templateGroupe nom="jpaGroupe">
      <template nom="jpa_bean_template" />
    </templateGroupe>
    <templateGroupe nom="uniqueGroupe">
      <template nom="spring_jspx_index" />
    </templateGroupe>
  </templateGroupes>

  <templates inDir="config/templates" outDir="D:/workspace/glougloubar" packageJavaBase="com.glougloubar">
    <template nom="bean_template" file="bean_template.vm" packageJava="PPP.domain" outDir="src/main/java" outFile="XXX.java" nomElementGenere="XXX" />
    <template nom="spring_jspx_index" file="spring_jspx_index.vm" outDir="src/main/webapp/WEB-INF/views" outFile="index.jspx" nomElementGenere="index.jspx" />
    <template nom="jpa_bean_template" file="jpa_bean_with_links.vm" packageJava="PPP.bean" outDir="src/main/java" outFile="XXX.java" nomElementGenere="XXX" />
  </templates>

</gen>

