<?xml version="1.0" encoding="UTF-8"?>
<gen xmlns="http://generator/gen/schemas">

  <stereotypes>
    <stereotype nom="bean" />
  </stereotypes>

  <genererGroupe>
    <genererParStereotypes>
      <genererParStereotype>
        <stereotypeRefPourGenererParStereotypes>
          <stereotypeRefPourGenererParStereotype stereotypeNom="bean" />
          <templateGroupeRefPourGenererParStereotypes>
            <templateGroupeRefPourGenererParStereotype templateGroupeNom="beanGroupe" />
          </templateGroupeRefPourGenererParStereotypes>
        </stereotypeRefPourGenererParStereotypes>
      </genererParStereotype>
    </genererParStereotypes>
    <genererParTemplates>
      <genererParTemplate>
        <templateGroupeRefPourGenererParTemplates _nb="1">
          <templateGroupeRefPourGenererParTemplate templateGroupeNom="uniqueGroupe">
            <stereotypeRefPourGenererParTemplates _nb="1">
              <stereotypeRefPourGenererParTemplate stereotypeNom="bean" />
            </stereotypeRefPourGenererParTemplates>
          </templateGroupeRefPourGenererParTemplate>
        </templateGroupeRefPourGenererParTemplates>
      </genererParTemplate>
    </genererParTemplates>
  </genererGroupe>

  <templateGroupes>
    <templateGroupe nom="beanGroupe">
      <templateRef nom="bean_template" />
    </templateGroupe>
    <templateGroupe nom="uniqueGroupe">
      <templateRef nom="spring_jspx_index" />
    </templateGroupe>
  </templateGroupes>

  <templates inDir="config/templates" outDir="D:/workspace/glougloubar2" packageJavaBase="com.glougloubar">
    <template nom="bean_template" file="bean_template.vm" packageJava="PPP.domain" outDir="D:/workspace/glougloubar2/src/main/generated" outFile="XXX.java" nomElementGenere="XXX" />
    <template nom="spring_jspx_index" file="spring_jspx_index.vm" outDir="D:/workspace/glougloubar2/src/main/webapp/WEB-INF/views" outFile="index.jspx" nomElementGenere="index.jspx" />
  </templates>

</gen>

